@charset "UTF-8";
/*=========================== STYLES GÉNÉRAUX ======*/


body {
	font-family: Roboto;
	font-size:62.5%;
	background-color: pink;
}

#global {
	max-width:1025px;
	margin: 0 auto;
	background-color: #49DCB1;
	font-size:210%;
	padding-bottom: 0.6%;
}