@charset "UTF-8";
/*=========================== STYLES GÉNÉRAUX ======*/


body {
	font-family: Roboto;
	font-size:62.5%;
	background-color: #EAEAEA;
}

#global {
	max-width:1025px;
	margin: 0 auto;
	background-color: #49DCB0;
	font-size:210%;
	padding-bottom: 0.6%;
}

#navPrincipale {
	display: flex;
}

#navPrincipale ul {
	display: flex;
	align-items: center;
}

#navPrincipale li {
	margin-right: 5.12%;
}

#navPrincipale li a{
	font-weight: bold;
	text-decoration: none;
	color:white;
}

#navPrincipale li a:hover{
	border-bottom: 5px solid #336699;
}



#navPrincipale ul:hover li{
	display: block;
}

#burgermenu{
	display:none;
}

#entete {
	position: relative;
	background-color: #333;
}

#slogan {
	background-color: rgba(67, 220, 177, 0.5);
}

#slogan h1{
	color:white;
	font-weight: bold;
}

#slogan p{
	color:#2668ab;
	font-weight: bold;
}

footer{
	background-color: #333333;
	color:#FFFFFF;
}

footer .legal{
	background-color: black;
	text-align: center;
	color: #666666;
	font-size: 95%;
	font-weight: bold;
	padding: 2% 0 2% 0;
}

footer #colonnes .titre-section{
	font-weight: bold;
	margin-bottom: 5px;
}

footer #colonnes .elmSection{
	font-size: 80%;
	margin-bottom: 1.5px;
	color: #c3c3c3;
}

footer #colonnes .basSection{
	font-size: 80%;
	color: #c3c3c3;
}

/* =======CHARTE DES GRANDEURS =======
MOBILE : jusqu'à 640px;
GRANDS ÉCRANS : plus que 1025px;
*/

/*=========================== STYLES MOBILES ======*/
@media (max-width: 640px) {

	body {
		background-color: yellow;
		background-image: none;
	}

	#global {
		background-color: #EAEAEA;
	}

	#navPrincipale{
		background-color: #49DCB1;
	}

	#navPrincipale #burgermenu{
		display: block;
		margin: 6px 12px 3px 0px;	
		width:50px;
		height:48px;
	}

	#navPrincipale li{
	display:none;
	padding: 1%;
	margin: 1%;
	font-size: 50%;
	white-space:nowrap;
	text-decoration: none;
	background-color: #13585f;
	color: #f1f3f0;
	border:1px solid #ececec;
	}

	#navPrincipale ul:active{
		display: block;
	}

	#navPrincipale ul:active li{
		display: inline-block;
		width: 250px;
	}

	#entete img {
		position: relative;
		width: 100%;
	}

	#slogan{
		width: 96%;
   		bottom: 3px;
		padding: 3% 0 3% 3%;
	}

	#slogan h1{
		font-size: 123%;
		margin-bottom: 8px;
	}

	#slogan p{
		margin-top:20px;
		font-size: 90%;
	}


}/*fin de media query*/

/*=========================== STYLES GRANDS ÉCRANS ======*/
@media (min-width: 1025px) {

	#global {
		margin-bottom: 5%;
	}

	#navPrincipale {
		display: flex;
	}

	#navPrincipale ul {
		align-items: center;
		width: 684px;
	}

	#navPrincipale li {
		margin-right: 35px;/*5.12%*/
	}

	#navPrincipale li a{
		font-weight: bold;
		text-decoration: none;
		color:white;
	}

	#navPrincipale li a:hover{
		border-bottom: 5px solid #336699;
	}

	#navPrincipale ul:hover li{
		display: block;
	}

	#burgermenu{
		display:none;
	}

	#slogan {
		background-color: rgba(67, 220, 177, 0.5);
		width:810px;
		top:150px;
		padding-left: 40px;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	#slogan h1{
		color:white;
		font-size:249%;
		font-weight: bold;
		margin-bottom: 10px;
	}

	#slogan p{
		margin-top: 20px;
		color:#2668ab;
		font-size:180%;
		font-weight: bold;
	}

	#entete .titre-main{
		padding: .4em 3%;
		font-size:33px;
		font-weight: bold;
		background-color: #EAEAEA;
		color: #333333;
	}

	#colonnes{
		-webkit-column-count:3;
		-moz-column-count:3;
		column-count:3;
		padding: 4% 0% 7% 8%;
	}

	footer .legal{
		background-color: black;
		text-align: center;
		color: #666666;
		font-size: 95%;
		font-weight: bold;
		padding: 2% 0 2% 0;
	}

	footer #colonnes .titre-section{
		font-weight: bold;
		margin-bottom: 5px;
	}

	footer #colonnes .elmSection{
		font-size: 80%;
		margin-bottom: 1.5px;
	}